.counter {
  border: 1px solid red;
  margin: 1em;
  padding: 1em;
  border: 1px solid rebeccapurple;
  p {
    margin-bottom: 1em;
  }
  button {
    color: red;
    border: 1px solid purple;
    padding: 0.5em;
    margin-right: 1em;
  }
}
