* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-color: orange transparent;
}

body {
  width: 100dvw;
}

#root {
  min-height: 100dvh;
  border: 0 solid #ccc;
  border-width: 0 1px;
}

#head {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  position: sticky;
  top: 0;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

#body {
  display: flex;
}

#main {
  order: 2;
  padding: 1em;
  flex: 1;
}

.toggle {
  display: none;
}

#menu {
  order: 1;
  padding: 1em;
  border-right: 1px solid #ccc;
  width: 200px;
  transition: all 0.3s ease-in-out 0s;

  &:has(.toggle:checked) {
    width: 0;
    padding: 1em 0;
    overflow: hidden;
    border-width: 0;
  }
}

#side {
  order: 3;
  padding: 1em;
  border-left: 1px solid #ccc;
  width: 200px;
}
